{% extends "base.html" %}
<!-- # -->
{% load i18n %}
<!-- # -->
{% load account socialaccount %}
<!-- # -->
{% block head_title %} {% trans "Sign In" %} {% endblock %}
<!-- # -->
{% block content %}
<div class="col-8 p-4 mt-4 mx-auto">
  <h1>{% trans "Sign In" %}</h1>

  <p>
    {% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
  </p>

  {% if form.non_field_errors %}
  <div class="ml-n3">
    <div class="Toast Toast--error">
      <span class="Toast-icon">
        <!-- <%= octicon "stop" %> -->
        <svg
          width="14"
          height="16"
          viewBox="0 0 14 16"
          class="octicon octicon-stop"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M10 1H4L0 5v6l4 4h6l4-4V5l-4-4zm3 9.5L9.5 14h-5L1 10.5v-5L4.5 2h5L13 5.5v5zM6 4h2v5H6V4zm0 6h2v2H6v-2z"
          />
        </svg>
      </span>
      <span class="Toast-content">{{ form.non_field_errors.0 }}</span>
    </div>
  </div>
  {% endif %}

  <form class="pb-6" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    <div class="form-group">
      <div class="form-group-header">
        <label for="id_login">Email</label>
      </div>
      <div class="form-group-body">{{ form.login }}</div>
    </div>
    <div class="form-group">
      <div class="form-group-header">
        <label for="id_password">Password</label>
      </div>
      <div class="form-group-body">{{ form.password }}</div>
    </div>
    {% if redirect_field_value %}
    <input
      type="hidden"
      name="{{ redirect_field_name }}"
      value="{{ redirect_field_value }}"
    />
    {% endif %}
    <button class="btn btn-outline mr-2" type="submit">
      {% trans "Sign In" %}
    </button>
    <a class="button secondaryAction" href="{% url 'account_reset_password' %}"
      >{% trans "Forgot Password?" %}</a
    >
  </form>
</div>
{% endblock content %}
