{% extends "base.html" %}
<!-- # -->
{% load i18n %}
<!-- # -->
{% load account socialaccount %}
<!-- # -->
{% block head_title %} {% trans "Sign Up" %} {% endblock %}
<!-- # -->
{% block content %}
<div class="col-8 p-4 mt-4 mx-auto">
  <h1>{% trans "Sign Up" %}</h1>

  <p>
    {% blocktrans %}Already have an account? Then please
    <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
  </p>

  <form class="pb-6" method="POST" action="{% url 'account_signup' %}">
    {% csrf_token %}
    <div class="form-group {% if form.email.errors %}errored{% endif %}">
      <div class="form-group-header">
        <label for="id_email">Email</label>
      </div>
      <div class="form-group-body">{{ form.email }}</div>
      <p class="note error" id="email-input-validation">
        {% for error in form.email.errors %} {{ error }} {% endfor %}
      </p>
    </div>
    <div class="form-group {% if form.password1.errors %}errored{% endif %}">
      <div class="form-group-header">
        <label for="id_password1">Password</label>
      </div>
      <div class="form-group-body">{{ form.password1 }}</div>
      <p class="note error" id="password1-input-validation">
        {% for error in form.password1.errors %} {{ error }} {% endfor %}
      </p>
    </div>
    <div class="form-group {% if form.password2.errors %}errored{% endif %}">
      <div class="form-group-header">
        <label for="id_password2">Repeat Password</label>
      </div>
      <div class="form-group-body">{{ form.password2 }}</div>
      <p class="note error" id="password2-input-validation">
        {% for error in form.password2.errors %} {{ error }} {% endfor %}
      </p>
    </div>
    {% if redirect_field_value %}
    <input
      type="hidden"
      name="{{ redirect_field_name }}"
      value="{{ redirect_field_value }}"
    />
    {% endif %}
    <button class="btn btn-outline mr-2" type="submit">
      {% trans "Sign Up" %}
    </button>
  </form>
</div>
{% endblock content %}
